registry=https://devops-npm.pkg.coding.smoa.cloud/smore-design/smore-design/
always-auth=true
//devops-npm.pkg.coding.smoa.cloud/smore-design/smore-design/:username=itujwzdoty
//devops-npm.pkg.coding.smoa.cloud/smore-design/smore-design/:_password=<bHluXzM2NTkwMjk=>
//devops-npm.pkg.coding.smoa.cloud/smore-design/smore-design/:email=yanan.lan@smartmore.com
